<template>
  <nav class="navbar fixed-top">
    <a
      href="#"
      class="menu-button d-none d-md-block"
      @click.prevent="changeSideMenuStatus({step :menuClickCount+1,classNames:menuType})"
    >
      <menu-icon />
    </a>
    <a
      href="#"
      class="menu-button-mobile d-xs-block d-sm-block d-md-none"
      @click.prevent="changeSideMenuForMobile(menuType)"
    >
      <mobile-menu-icon />
    </a>
    <router-link class="navbar-logo" tag="a" to="/app/pages/bookmarks">
      <span class="logo d-none d-xs-block"></span>
      <span class="logo-mobile d-block d-xs-none"></span>
    </router-link>

    <div class="ml-auto">
      <div class="header-icons d-inline-block align-middle"></div>
      <div class="user d-inline-block">
        <b-dropdown
          class="dropdown-menu-right"
          right
          variant="empty"
          toggle-class="p-0"
          menu-class="mt-3"
          no-caret
        >
          <template slot="button-content">
            <span class="name mr-1">{{currentUser.title}}</span>
          </template>
          <b-dropdown-item to="change-password">Change Password</b-dropdown-item>
          <b-dropdown-item v-on:click="logout">Sign out</b-dropdown-item>
        </b-dropdown>
      </div>
    </div>
  </nav>
</template>
<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
import { MenuIcon, MobileMenuIcon } from "@/components/Svg";

import notifications from "@/data/notifications";
import {
  searchPath,
  menuHiddenBreakpoint,
  localeOptions,
  buyUrl
} from "@/constants/config";

export default {
  components: {
    MenuIcon,
    MobileMenuIcon
  },
  data() {
    return {
      selectedParentMenu: "",
      searchKeyword: "",
      isMobileSearch: false,
      isSearchOver: false,
      fullScreen: false,
      menuHiddenBreakpoint,
      searchPath,
      localeOptions,
      buyUrl,
      notifications,
      OneSignal: window.OneSignal || [],
      applicationCall: "Onesignaltest"
    };
  },
  methods: {
    ...mapMutations(["changeSideMenuStatus", "changeSideMenuForMobile"]),
    ...mapActions(["setLang", "signOut", "UserSubscriptionStatus"]),
    SubscriptionStatus(status, id) {
      console.log("ocean3", status, id);
      this.UserSubscriptionStatus({ is_subscribed: status, subs_id: id });
    },
    search() {
      this.$router.push(`${this.searchPath}?search=${this.searchKeyword}`);
      this.searchKeyword = "";
    },
    searchClick() {
      if (window.innerWidth < this.menuHiddenBreakpoint) {
        if (!this.isMobileSearch) {
          this.isMobileSearch = true;
        } else {
          this.search();
          this.isMobileSearch = false;
        }
      } else {
        this.search();
      }
    },
    handleDocumentforMobileSearch() {
      if (!this.isSearchOver) {
        this.isMobileSearch = false;
        this.searchKeyword = "";
      }
    },
    changeLocale(locale) {
      this.setLang(locale);
    },
    async logout() {
      var $this = this;
      try {
        app.unsubscribe();
        $this.SubscriptionStatus(false, $this.applicationCall);
        setTimeout(function() {
          $this.signOut().then(() => {
            $this.$router.push({ name: "logout" });
          });
        }, 2000);
      } catch (err) {
        try {
          await native.unsubscribe;
          $this.SubscriptionStatus(false, $this.applicationCall);
          setTimeout(function() {
            $this.signOut().then(() => {
              $this.$router.push({ name: "logout" });
            });
          }, 2000);
        } catch (errr) {
          $this.OneSignal.setSubscription(false);
          setTimeout(function() {
            $this.signOut().then(() => {
              $this.$router.go({ name: "logout" });
            });
          }, 2000);
        }
      }
    },

    getDeviceID() {
      window.webkit.messageHandlers.readId
        .postMessage("readId")
        .then(response => {})
        .catch(reason => {});
    },

    async updatePushNotificationOneSignal() {
      var $this = this;
      await this.OneSignal.push(async function() {
        await $this.OneSignal.init({
          appId: "ca4386e9-3f54-414d-a740-df25e56a0f26",
          notifyButton: {
            enable: true
          }
        });

        var subs_id = "";

        await $this.OneSignal.on("subscriptionChange", async function(
          isSubscribed
        ) {
          console.log("The user's subscription state is now:", isSubscribed);

          await $this.OneSignal.getUserId(async function(userId) {
            console.log("OneSignal User ID:", userId);
            subs_id = userId;

            await $this.SubscriptionStatus(isSubscribed, subs_id);
          });
        });
        // console.log('onesignal data',userId,isSubscribed)
      });
    },

    toggleFullScreen() {
      const isInFullScreen = this.isInFullScreen();

      var docElm = document.documentElement;
      if (!isInFullScreen) {
        if (docElm.requestFullscreen) {
          docElm.requestFullscreen();
        } else if (docElm.mozRequestFullScreen) {
          docElm.mozRequestFullScreen();
        } else if (docElm.webkitRequestFullScreen) {
          docElm.webkitRequestFullScreen();
        } else if (docElm.msRequestFullscreen) {
          docElm.msRequestFullscreen();
        }
      } else {
        if (document.exitFullscreen) {
          document.exitFullscreen();
        } else if (document.webkitExitFullscreen) {
          document.webkitExitFullscreen();
        } else if (document.mozCancelFullScreen) {
          document.mozCancelFullScreen();
        } else if (document.msExitFullscreen) {
          document.msExitFullscreen();
        }
      }
      this.fullScreen = !isInFullScreen;
    },
    isInFullScreen() {
      return (
        (document.fullscreenElement && document.fullscreenElement !== null) ||
        (document.webkitFullscreenElement &&
          document.webkitFullscreenElement !== null) ||
        (document.mozFullScreenElement &&
          document.mozFullScreenElement !== null) ||
        (document.msFullscreenElement && document.msFullscreenElement !== null)
      );
    }
  },
  computed: {
    ...mapGetters({
      currentUser: "currentUser",
      menuType: "getMenuType",
      menuClickCount: "getMenuClickCount"
    })
  },
  beforeDestroy() {
    document.removeEventListener("click", this.handleDocumentforMobileSearch);
  },
  watch: {
    "$i18n.locale"(to, from) {
      if (from !== to) {
        this.$router.go(this.$route.path);
      }
    },
    isMobileSearch(val) {
      if (val) {
        document.addEventListener("click", this.handleDocumentforMobileSearch);
      } else {
        document.removeEventListener(
          "click",
          this.handleDocumentforMobileSearch
        );
      }
    }
  },
  async beforeMount() {
    // var OneSignal = window.OneSignal || [];
    console.log("Gaurav");
    try {
      this.applicationCall = app.readId();
      if (
        this.applicationCall != undefined &&
        this.applicationCall != "" &&
        this.applicationCall != null
      ) {
        var arr = this.applicationCall.split("-");
        if (arr.length === 5)
          this.SubscriptionStatus(true, this.applicationCall);
      }
    } catch (errr) {
      try {
        this.applicationCall = await native.readId;
        if (
          this.applicationCall != undefined &&
          this.applicationCall != "" &&
          this.applicationCall != null
        ) {
          var arr = this.applicationCall.split("-");
          console.log(arr.length);
          if (arr.length === 5)
            this.SubscriptionStatus(true, this.applicationCall);
        }
      } catch (err) {
        console.log("Gaurav", err);
        this.updatePushNotificationOneSignal();
      }
    }
  },
  mounted () {
    
    var userJSon = JSON.parse(localStorage.getItem('user'))
    if(userJSon.is_first == "yes"){
        this.$notify('danger', 'Welcome '+this.currentUser.title, "To 'Get Started', click on the menu on the left.", { duration: 15000, permanent: false });
    }
    userJSon.is_first = "no";
    localStorage.setItem('user', JSON.stringify(userJSon));
  }
};
</script>