@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');

html body, html body p{
    font-family: 'Montserrat', sans-serif;
}*/

.auth-card .h2 {font-family: 'oswald', sans-serif;}
.headline h4 {font-family: 'oswald', sans-serif;}
.bookmark_card {
    padding: 0px;
}
.bookmark_card .row-card {
    padding: 15px 0px;
}
.mr-30{
	margin-right: 30px;
}
.badge-dark[href]:hover, .badge-dark[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #e7523e !important;
}
.bookmark_card .card {
    border-radius: 0.75rem;
}
.btn-outline-info{
	color: #70d1e2;
    background-color: transparent;
    background-image: none;
    border-color:#70d1e2;
}
.btn-outline-info:hover{
	color: #fff;
    background-color: #70d1e2;
    border-color: #70d1e2;
}
.getstarted .card{
	padding: 20px 0;
	width: 100%;
}

@media (max-width: 767px){
  
	.voicelink-mob .col-1, .voicelink-mob .col-2, .voicelink-mob .col-4 {
	    width: 100%;
	    max-width: 100%;
	    flex: none;
	    text-align: center;
	    margin-bottom: 5px;
  	}
  	.top-margin{
  		margin-top: 10px;
  	}
}
@media (max-width: 575px){
	.auth-card {
	  flex-direction: column-reverse !important;
	}
}