<template>
    <b-card  class="row-card d-flex flex-row" no-body>
      <div class="pl-2 d-flex flex-grow-1 min-width-zero">
        <div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">

          <a :href="`${data.bookmark_url}`" target="_blank" class=" badge badge-dark w-30 w-sm-100">
             <p class="list-item-heading mb-0 text-small truncate"> {{data.bookmark_title}}</p>
          </a>
          <p class="mb-0 top-margin text-muted text-small w-15 w-sm-100">{{data.bookmark_type}}</p>
            <div class="w-15 w-sm-100">
                <b-badge pill :variant="data.statusColor"></b-badge>
            </div>
        </div>
        
        <div class="custom-control custom-checkbox pl-1 align-self-center pr-4">
          <div @click.prevent="toggleItem($event,data.id)" :class="{'d-flex flex-row':true,'active' : selectedItems.includes(data.id)}">
                <b-form-checkbox :checked="selectedItems.includes(data.id)" class="itemCheck itemCheckChild mb-0"/>
            </div>
        </div>
      </div>
    </b-card>

</template>
<script>
export default {
  props: ['data', 'selectedItems'],
  methods: {
    toggleItem (event, itemId) {
      console.log(event,itemId);
      this.$emit('toggle-item', event, itemId)
    }
  }
}
</script>
<style>
body div.custom-checkbox-child .custom-control-input{
  left: unset !important;
  top: unset !important;
}
body input[type="radio"].itemCheckChild, body input[type="checkbox"].itemCheckChild{
  -webkit-box-sizing: unset;
}
</style>
