<template>
  <b-colxx class="disable-text-selection">
  <!--Header start -->
      <b-row>
        <b-colxx xxs="12" class="headline" > 
           <h4 style="text-align:center;">TAGS</h4> 
          <div class="float-sm-right">
            <b-button
              v-b-modal.modalright
              variant="primary"
              size="lg"
              class=""
            >{{ $t('pages.add-new') }}</b-button>
            <b-form @submit.prevent="addNewItem" style="width: 60px;float: right;">
            <b-button-group>
              <b-dropdown split right @click="selectAll(true)" class="check-button" variant="primary">
                <label
                  class="custom-control custom-checkbox pl-4 mb-0 d-inline-block"
                  slot="button-content"
                >
                  <input
                    class="custom-control-input"
                    type="checkbox"
                    :checked="isSelectedAll"
                    v-shortkey="{select: ['ctrl','a'], undo: ['ctrl','d']}"
                    @shortkey="keymap"
                  >
                  <span
                    :class="{
                  'custom-control-label' :true,
                  'indeterminate' : isAnyItemSelected
                }"
                  />
                </label>
                <b-dropdown-item @click="onContextDelete()">{{$t('pages.delete')}}</b-dropdown-item>
              
              </b-dropdown>
            </b-button-group>
              <b-modal
                id="modalright"
                ref="modalright"
                :title="$t('pages.add-new-modal-title')"
                class="modal-right"
                @show="resetModal"
                @hidden="resetModal"
              >
                <b-form-group :label="$t('pages.product-name')">
                  <b-form-input v-model="newItem.bookmark_title" v-validate="'required'" name="Triggerword" :class="{ 'is-invalid': submitted && errors.has('Triggerword') }"/>
                  <div v-if="submitted && errors.has('Triggerword')" class="invalid-feedback">{{errors.first('Triggerword')}}</div>
                </b-form-group>
                <b-form-group :label="$t('pages.note')">
                  <b-form-input v-model="newItem.note" v-validate="'required'" name="LinkName" :class="{ 'is-invalid': submitted && errors.has('LinkName') }"/>
                  <div v-if="submitted && errors.has('LinkName')" class="invalid-feedback">{{errors.first('LinkName')}}</div>
                </b-form-group>
                <b-form-group :label="$t('pages.description')">
                  <b-form-input v-model="newItem.bookmark_url" v-validate="{ required: true, url:{require_protocol: true } }" name="VoicelinkUrl" :class="{ 'is-invalid': submitted && errors.has('VoicelinkUrl') }"/>
                  <div v-if="submitted && errors.has('VoicelinkUrl')" class="invalid-feedback">{{errors.first('VoicelinkUrl')}}</div>
                </b-form-group>
                <template slot="modal-footer">
                  <b-button
                    variant="outline-info"
                    @click="hideModal('modalright')"
                  >{{ $t('pages.cancel') }}</b-button>
                  <b-button
                    type="submit"
                    variant="primary"
                    class="mr-1"
                  >{{ $t('pages.submit') }}</b-button>
                </template>
              </b-modal>
            </b-form>
          </div>
          
          <div class="mb-2 mt-2">
            <b-button
              variant="empty"
              class="pt-0 pl-0 d-inline-block d-md-none"
              v-b-toggle.displayOptions
            >
              {{ $t('pages.display-options') }}
              <i class="simple-icon-arrow-down align-middle"/>
            </b-button>
            <b-collapse id="displayOptions" class="d-md-block">
            
              <div class="d-block d-md-inline-block mb-2">
                <b-dropdown
                  id="ddown1"
                  :text="`${$t('pages.orderby')} ${sort.label}`"
                  variant="outline-dark"
                  class="mr-1 float-md-left btn-group"
                  size="xs"
                >
                  <b-dropdown-item
                    v-for="(order,index) in sortOptions"
                    :key="index"
                    @click="changeOrderBy(order)"
                  >{{ order.label }}</b-dropdown-item>
                </b-dropdown>

                <div class="search-sm d-inline-block float-md-left mr-1 align-top">
                  <b-input :placeholder="$t('menu.search')" v-model="search"/>
                </div>
              </div>
              
            </b-collapse>
          </div>
          <div class="separator mb-5"/>
        </b-colxx>
      </b-row>
  <!--Header end -->

      <template v-if="isLoad">
          <b-row>
            <b-colxx xxs="12" class="mb-3 bookmark_card" v-for="(item,index) in items" :key="index" :id="item.id">
              <data-list-item
                :key="item.id"
                :data="item"
                :selected-items="selectedItems"
                @toggle-item="toggleItem"
                v-contextmenu:contextmenu
              />
            </b-colxx>  
        </b-row>
        <b-row v-if="lastPage>1">
          <b-colxx xxs="12">
            <!-- <b-pagination-nav
              :number-of-pages="lastPage"
              :link-gen="linkGen"
              v-model="page"
              :per-page="perPage"
              align="center"
            >
              <template v-slot:next-text>
                <i class="simple-icon-arrow-right"/>
              </template>
              <template v-slot:prev-text>
                <i class="simple-icon-arrow-left"/>
              </template>
              <template v-slot:first-text>
                <i class="simple-icon-control-start"/>
              </template>
              <template v-slot:last-text>
                <i class="simple-icon-control-end"/>
              </template>
            </b-pagination-nav> -->
          </b-colxx>
        </b-row>
      </template>
      <template v-else>
        <div class="loading"></div>
      </template>

    <v-contextmenu ref="contextmenu" @contextmenu="handleContextmenu">
      <v-contextmenu-item @click="onContextDelete()">
        <i class="simple-icon-trash"/>
        <span>Delete</span>
      </v-contextmenu-item>
    </v-contextmenu>
  </b-colxx>
</template>
<script>
import { DataListIcon } from '@/components/Svg'
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css'
import axios from 'axios'
import $ from 'jQuery'

import DataListItem from '@/components/Listing/DataListItem'
import { apiUrl } from '@/constants/config'
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
    DataListIcon,
    vSelect,
    DataListItem
  },
  data () {
    return {
      perPage: 2,
      currentPage: 1,
      isLoad: false,
      paginate: ['items'],
      apiBase: apiUrl,
      displayMode: 'list',
      sort: { column: 'title', label: 'Tags' },
      sortOptions: [
        { column: 'title', label: 'Tags' }
      ],
      page: 1,
      search: '',
      from: 0,
      to: 0,
      total: 0,
      lastPage: 0,
      items: [],
      pageSizes: [2, 4, 8, 16],
      selectedItems: [],
      newItem: {
        bookmark_title: '',
        bookmark_url: '',
        note: ''
      },
      role: 'user',
      submitted: false,
      dict:{
        custom: {
          VoicelinkUrl: {
            required: 'The Voicelink url field is required',
            url: 'The Voicelink url field is not a valid URL'
          },
          LinkName: {
            required: 'The Link Name field is required'
          }
        }
      }
    }
  },
  methods: {
    ...mapActions(['getUsers']),
    loadItems () {
      this.isLoad = false
      let config = {
          headers: {
            "content-type": "application/json",
            "Access-Control-Allow-Origin":"*"
            
          }
        }

        let userData = localStorage.getItem('user');
        let userInfo = JSON.parse(userData);

      axios
        .get(this.apiUrl+ '/bookmarks/?user_id='+userInfo.uid,config)
        .then(response => {
          // console.log('ocean',JSON.parse(response.data.body).Items);
          return response.data.body;
        })
        .then(resp => {
          // console.log('oceanresponse',resp);
          let res = JSON.parse(resp);
          this.total = res.Count
          this.from = 0
          this.to = res.Count
          this.items = res.Items
          this.selectedItems = []
          this.lastPage = res.last_page
          this.isLoad = true          
        })
    },
    hideModal (refname) {
      this.$refs[refname].hide()
    },
    resetModal (){
      this.$validator.reset();
    },
    changeDisplayMode (displayType) {
      this.displayMode = displayType
    },
    changePageSize (perPage) {
      this.perPage = perPage
    },
    changeOrderBy (sort) {
      this.sort = sort
    },

    search_bm: function (value) {
      // console.log('oceansearch',value);
      this.page = 1;
      this.isLoad = false
      let config = {
          headers: {
            "content-type": "application/json",
            "Access-Control-Allow-Origin":"*"
          }
        }

      let userData = localStorage.getItem('user');
      let userInfo = JSON.parse(userData);

      axios
        .get(this.apiUrl+ '/bookmarks/?user_id='+userInfo.uid+'&bookmark_title='+value,config)
        .then(response => {
          // console.log('ocean',JSON.parse(response.data.body).Items);
          return response.data.body;
        })
        .then(resp => {
          // console.log('oceanresponse',resp);
          let res = JSON.parse(resp);
          this.total = res.Count
          this.from = 0
          this.to = res.Count
          this.items = res.Items
          this.selectedItems = []
          this.lastPage = res.last_page
          this.isLoad = true          
        })
    },
    
    addNewItem (e) {
      // console.log('adding item : ', this.newItem)
      this.submitted = true;
      this.$validator.validate().then(valid => {
        if (valid) {
        let config = {
            headers: {
              "content-type": "application/json",
              "Access-Control-Allow-Origin":"*"
            }
          }

          let d = new Date();
          let id = d.valueOf();
          id = 'b'+id;

          var h = this;

          let userData = localStorage.getItem('user');
          let userInfo = JSON.parse(userData);

          // console.log(userInfo);
          var count = 0;
          // let bookInfo = this.search_bm(this.newItem.bookmark_title);
          axios
          .get(this.apiUrl+ '/bookmarks/?user_id='+userInfo.uid+'&bookmark_title='+this.newItem.bookmark_title+'&search=yes',config)
          .then(response => {
            // console.log('ocdfdfean',JSON.parse(response.data.body).Count);
            count = JSON.parse(response.data.body).Count;

            if(count == 0){
              axios.put(this.apiUrl+'/bookmarks/',{
                    "id":id,
                    "bookmark_title": this.newItem.bookmark_title,
                    "bookmark_url": this.newItem.bookmark_url,
                    "bookmark_type": this.newItem.note,
                    "user_id": userInfo.uid,
                    "search_word": this.newItem.bookmark_title.toLowerCase().trim()
                  },config)
                  .then(function (response) {
                      // console.log('new entry',response);
                      h.hideModal('modalright');
                      h.$notify('primary', 'Success', "Tag added successfully.", { duration: 3000, permanent: false })
                      h.loadItems();
                      h.newItem.bookmark_title = '';
                      h.newItem.bookmark_url = '';
                      h.newItem.note = '';
                  })
                  .catch(function (error) {
                    // console.log('new entry error',error);
                  });
            }else{
              h.$notify('primary', 'Error', 'Tag should be Unique', { duration: 3000, permanent: false })
            }

          })
        }
      });     
    },
    selectAll (isToggle) {
      if (this.selectedItems.length >= this.items.length) {
        if (isToggle) this.selectedItems = []
      } else {
        this.selectedItems = this.items.map(x => x.id)
      }
    },
    keymap (event) {
      switch (event.srcKey) {
        case 'select':
          this.selectAll(false)
          break
        case 'undo':
          this.selectedItems = []
          break
      }
    },
    getIndex (value, arr, prop) {
      for (var i = 0; i < arr.length; i++) {
        if (arr[i][prop] === value) {
          return i
        }
      }
      return -1
    },
    toggleItem (event, itemId) {
      if (event.shiftKey && this.selectedItems.length > 0) {
        let itemsForToggle = this.items
        var start = this.getIndex(itemId, itemsForToggle, 'id')
        var end = this.getIndex(
          this.selectedItems[this.selectedItems.length - 1],
          itemsForToggle,
          'id'
        )
        itemsForToggle = itemsForToggle.slice(
          Math.min(start, end),
          Math.max(start, end) + 1
        )
        this.selectedItems.push(
          ...itemsForToggle.map(item => {
            return item.id
          })
        )
      } else {
        if (this.selectedItems.includes(itemId)) {
          this.selectedItems = this.selectedItems.filter(x => x !== itemId)
        } else this.selectedItems.push(itemId)
      }
    },
    handleContextmenu (vnode) {
      // if (!this.selectedItems.includes(vnode.key)) {
      //   this.selectedItems = [vnode.key]
      // }
      this.selectedItems = [vnode.key]
    },
    bulkDelete () {
      console.log(this.selectedItems);
    },
    onContextDelete () {
      this.isLoad = false
       let config = {
          headers: {
            "content-type": "application/json",
            "Access-Control-Allow-Origin":"*"
          }
        }
        var his = this;
       axios.delete(this.apiUrl+'/bookmarks/?id='+this.selectedItems+'&user_id=324',config)
      .then(response => {
        // console.log(response.data.body);
        this.$notify('primary', 'Success',"Tag deleted", { duration: 3000, permanent: false })
        his.loadItems()
      })
    },
    linkGen (pageNum) {
      return '#page-' + pageNum
    }
  },
  computed: {
    rows() {
      return this.items.length
    },
    isSelectedAll () {
      return this.selectedItems.length >= this.items.length
    },
    isAnyItemSelected () {
      return (
        this.selectedItems.length > 0 &&
        this.selectedItems.length < this.items.length
      )
    },
    apiUrl () {
      return `${this.apiBase}`
    }
  },
  watch: {
    search(value){
      this.page = 1;
      this.search_bm(value);
    },
    apiUrl () {
      this.loadItems()
    }
  },
  mounted () {
    this.loadItems()
    // this.getUsers()
    let userData = localStorage.getItem('user');
    let userInfo = JSON.parse(userData);
    this.role = userInfo.role;
    // console.log(this.role)
    this.$validator.localize('en', this.dict);
   

  }
}
</script>
