<template>
<div>
  <b-row>
    <b-colxx xxs="12" class="headline" style="text-align:center;">
     <h4>FAQs</h4>
    </b-colxx>
  </b-row>
  <b-row>
    <div class="card d-flex mb-3">
        <div role="tab" class="d-flex flex-grow-1 min-width-zero">
           <a class="btn card-body btn-empty btn-link list-item-heading text-left text-one collapsed" aria-controls="faq_1" aria-expanded="false" role="button"><b>What is Voicelink? </b>
           </a>
        </div>
       <div id="faq_1" class="collapse" role="tabpanel" style="display: block;">
          <div class="card-body accordion-content pt-0">Somewhere in the cloud, there's a document you often need, a web app you often use, or a link you regularly share with friends or clients. Open your links now on any device, anytime, using your voice. Now you can access your data or favourite websites in meetings, while getting dressed, cooking or driving. For all hands-free situations.
          </div>
       </div>
    </div>
    <div class="card d-flex mb-3">
        <div role="tab" class="d-flex flex-grow-1 min-width-zero">
           <a  class="btn card-body btn-empty btn-link list-item-heading text-left text-one collapsed" aria-controls="faq_1" aria-expanded="false" role="button"><b>How does it work?</b>
           </a>
        </div>
       <div id="faq_1" class="collapse" role="tabpanel" style="display: block;">
          <div class="card-body accordion-content pt-0">The Voicelink app saves links as simple Tag shortcuts of one or two words. These Tags can be called out in the Alexa voice app. For example, speaking to your smart speaker device or voice assistant app, say “Alexa, open Voicelink” to open the voice app. Then, say “Open Tag ‘My Document’.” The links saved as Tags will be recognised, and push notifications are delivered to all logged-in devices.
          </div>
       </div>
    </div>
    <div class="card d-flex mb-3">
        <div role="tab" class="d-flex flex-grow-1 min-width-zero">
           <a  class="btn card-body btn-empty btn-link list-item-heading text-left text-one collapsed" aria-controls="faq_1" aria-expanded="false" role="button"><b>What do I need to use Voicelink?</b>
           </a>
        </div>
       <div id="faq_1" class="collapse" role="tabpanel" style="display: block;">
          <div class="card-body accordion-content pt-0">Voicelink currently works together with the Amazon Alexa app on any smartphone, as well as the Echo. You will need one of these to use it. The Voicelink app supports Windows and Apple (via Google Chrome plugin), as well as Android and iOS.
          </div>
       </div>
    </div>
    <h4>Troubleshooting</h4>
    <div class="card d-flex mb-3">
        <div role="tab" class="d-flex flex-grow-1 min-width-zero">
           <a  class="btn card-body btn-empty btn-link list-item-heading text-left text-one collapsed" aria-controls="faq_1" aria-expanded="false" role="button"><b>Q: When calling the skill “Voicelink”, it does not open.</b>
           </a>
        </div>
       <div id="faq_1" class="collapse" role="tabpanel" style="display: block;">
          <div class="card-body accordion-content pt-0">A: Are you subscribed to the Alexa Skill “Voicelink”? If not, please do so.<br>
            [BETA: ensure beta invitation has been sent to this user]<br>
            A: Ensure you are logged in as the same user on Alexa.amazon.com and your Echo<br>
            To find out, say “Alexa, What’s my name”.<br>
            Account linking works with the Alexa profile that is logged in. If you have multiple profiles in your household, say “Alexa, switch profiles” to switch
            profiles on your device.<br>
            A: Check your language and location settings<br>
            (Voicelink currently works in English only and only in the US Store. Ensure your URL is .com)

          </div>
       </div>
    </div>
    <div class="card d-flex mb-3">
        <div role="tab" class="d-flex flex-grow-1 min-width-zero">
          <a  class="btn card-body btn-empty btn-link list-item-heading text-left text-one collapsed" aria-controls="faq_1" aria-expanded="false" role="button"><b>Q: When calling “Open Tag, _____” Alexa cannot find it.</b> I am sure I saved the Tag and it is showing up in my list on the Voicelink app.
           </a>
        </div>
       <div id="faq_1" class="collapse" role="tabpanel" style="display: block;">
          <div class="card-body accordion-content pt-0">A: Ensure you are logged in as the same user in the Voicelink app, Alexa.amazon.com and your Echo (To find out, say “Alexa, What’s my name”)<br>
Account linking works with the Alexa profile that is logged in. If you have multiple profiles in your household, say “Alexa, switch profiles” to switch
profiles on your device.
          </div>
       </div>
    </div>
  </b-row>
</div>
</template>



