<template>
<div class="getstarted">
  <b-row>
    <b-colxx xxs="12" class="headline" style="text-align:center;">
     <h4>GET STARTED</h4>
    </b-colxx>
  </b-row>
  <b-row>
    <div class="card d-flex mb-3">

        <div role="tab" class="d-flex flex-grow-1 min-width-zero">
           <a class="btn card-body btn-empty btn-link list-item-heading text-left text-one collapsed" aria-controls="faq_1" aria-expanded="false" role="button">

             <ul>
             <li><a id="welcome_tab">Welcome</a></li>
             <li><a id="chrome_tab">Install Voicelink Plugin for Chrome</a></li>
             <li><a id="alexa_tab">Install Voicelink Skill for Alexa</a></li>
             </ul>
           </a>
        </div>
      </div>
      <div class="card d-flex mb-3">
       
        <div id="welcome" class="collapse" role="tabpanel" style="display: block;">
          <div class="card-body accordion-content pt-0">
            <p><b>Welcome</b></p>	

            <p>Voicelink opens your often-needed personal info at the speed of your voice.</p>

            <p>Now you can access your data or favourite websites in meetings, while getting dressed, cooking or driving.</p>

            <p>For all hands-free situations.</p>
          </div>
        </div>
      </div>
      <div class="card d-flex mb-3">
        <div id="chrome" class="collapse" role="tabpanel" style="display: block;">
          <div class="card-body accordion-content pt-0">

              <p><b>Install Voicelink Plugin for Chrome</b></p>

              <p>(Skip this step)</p>

              <p>If you have not yet downloaded it, click and install the Voicelink plugin for Chrome here: (link).</p>
              
              	<b>TAG </b>


              <p>Make sure you are logged in on Voicelink.app or mobile app.</p>

              <p>Click on the Chrome plugin to save your links as tags to the cloud. Keep it short, one word only.
              </p>

              <p>Click on the red bell icon to subscribe to notifications. Note: it is set ON by default, also in the mobile App.</p>
            </div>
        </div>
      </div>
      <div class="card d-flex mb-3">
        <div id="alexa" class="collapse" role="tabpanel" style="display: block;">
          <div class="card-body accordion-content pt-0">
              <p><b>Install Voicelink Skill on Amazon Alexa</b></p>

              <p>(Skip this step)</p>

              <p>Sign up and log in using the Alexa app on your mobile device or alexa.amazon.com</p>

              <p>If your smart speaker is not yet connected, follow the prompts.</p>

              <p>[BETA: Register location as USA when asked. Make sure the URL is .com]</p>

              <p>[BETA phase: invite user as beta via alexa.amazon.com first]</p>

              <p>On Alexa.amazon.com, subscribe to ‘Voicelink” skill.</p>

              <b>TALK</b>

              <p>Now, try opening a link you saved as Tag in the cloud. Say “Alexa, open Voicelink”. Then, say “Open Tag _____”, followed by your chosen word.</p>

              <p>Receive notification link on various devices</p>

              <b>SHARE</b>

              <p>Click on push notification</p>

              <p>Send or Display</p>
              
          </div>
       </div>
    </div>
  </b-row>
</div>
</template>

<script>
import $ from 'jQuery';
export default {
  mounted:function(){
  console.log('get started',$(window).height());
  $("#welcome_tab").click(function(){
    $(window).scrollTop('300');
  });
  $("#chrome_tab").click(function(){
    $(window).scrollTop('570');
  });
  $("#alexa_tab").click(function(){
    $(window).scrollTop('900');
  });
  }
}
</script> 

