<template>
<div>
  <b-row>
    <b-colxx xxs="12">
     <h4>
              Welcome to Voicelink! First, save your links by visiting the site and clicking on the Plugin icon. You'll need a Triggerword for each new site. Later, to open the Voicelinks you have saved so far, speak their unique triggerwords. Alexa will do the rest. To make sure you get your links delivered, click on the red bell to activate push notifications.
            </h4>
    </b-colxx>
  </b-row>
</div>
</template>
