<template>
  <b-row class="h-100">
    <b-colxx xxs="12" md=10  class="mx-auto my-auto">
      <b-card class="auth-card" no-body>
        <div class="position-relative image-side ">
          <p class=" text-white h2">{{ $t('dashboards.magic-is-in-the-details') }}</p>
            <p class="white mb-0">Please use your e-mail to reset your password. <br>If you are not a member, please
              <router-link tag="a" to="/user/register" class="white">register</router-link>.
            </p>
        </div>
        <div class="form-side" v-if="form">
          <h1><router-link tag="a" to="/"><img src="../../assets/img/Voice_link_Company_Blue_trimmed.png" width="150px" alt="VOICELINK"/></router-link></h1>
          <br/>
          <br/>
          <h6 class="mb-4">{{ $t('user.forgot-password')}}</h6>
          <b-form @submit.prevent="formReSubmit">
            <label class="form-group has-float-label mb-4">
              <input type="text" class="form-control" v-model="code">
              <span>Verification Code</span>
            </label>
            <label class="form-group has-float-label mb-4">
              <input type="email" class="form-control" v-model="email">
              <span>{{ $t('user.email') }}</span>
            </label>
            <label class="form-group has-float-label mb-4">
              <input type="password" class="form-control" v-model="newPassword">
              <span>New password</span>
            </label>
            <div class="d-flex justify-content-end align-items-center login-text">
              <router-link tag="a" to="/user/login">{{ $t('user.login-title')}}</router-link>
              <b-button type="submit" variant="primary" size="lg" class="btn-shadow">{{ $t('user.reset-password-button')}}</b-button>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <router-link tag="a" to="/user/register">{{ $t('user.register')}}</router-link>
            </div>
          </b-form>
          <!-- <amplify-forgot-password v-bind:forgotPasswordConfig="forgotPasswordConfig"></amplify-forgot-password> -->
        </div>
        <div class="form-side" v-else>
          <h1><router-link tag="a" to="/"><img src="../../assets/img/Voice_link_Company_Blue_trimmed.png" width="150px" alt="VOICELINK"/></router-link></h1>
          <br/>
          <br/>
          <h6 class="mb-4">{{ $t('user.forgot-password')}}</h6>
          <b-form @submit.prevent="formSubmit">
            <label class="form-group has-float-label mb-4">
              <input type="email" class="form-control" v-model="email">
              <span>{{ $t('user.email') }}</span>
            </label>
            <div class="d-flex justify-content-end align-items-center login-text">
              <router-link tag="a" to="/user/login">{{ $t('user.login-title')}}</router-link>
              <b-button type="submit" variant="primary" size="lg" class="btn-shadow">{{ $t('user.reset-password-button')}}</b-button>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <router-link tag="a" to="/user/register">{{ $t('user.register')}}</router-link>
            </div>
            <br/>
            <div class="d-flex justify-content-between align-items-center">
              <label>If you have already verification code, <a href="#" @click="changeForm">click here.</a></label>
            </div>
          </b-form>
          <!-- <amplify-forgot-password v-bind:forgotPasswordConfig="forgotPasswordConfig"></amplify-forgot-password> -->
        </div>
      </b-card>
    </b-colxx>
  </b-row>
</template>
<script>
import { Auth } from 'aws-amplify'
export default {
  data () {
    return {
      fullname: '',
      email: '',
      password: '',
      form: 0,
      newPassword: '',
      code: ''
    }
  },
  methods: {
    changeForm(){
      if(this.form){
        this.form = 0;
      }else{
        this.form = 1;
      }
    },
    formSubmit () {
      try{
        Auth.forgotPassword(this.email).then(user => {
          console.log(user);
          this.$notify('primary', user.Destination, 'Please check your email, you have received the verification code.', { duration: 6000, permanent: false })
          this.form = 1
        }, err => {
          console.log(err);
          if(err.message != undefined){
            err = err.message;
          }
          this.$notify('primary', 'Frgot password Error', err, { duration: 6000, permanent: false })
          this.form = 0
        })
      }catch(error){
        this.$notify('primary', 'Frgot password Error', error, { duration: 6000, permanent: false })
        console.log(error)
        this.form = 0
      }
    },
    formReSubmit(){
      try{
        Auth.forgotPasswordSubmit(
          this.email,
          this.code,
          this.newPassword
        ).then(user => {
          console.log(user);
          this.$notify('primary', 'Password updated', 'Your password has been successfully updated!', { duration: 6000, permanent: false })
          this.form = 0
          this.$router.push('/');
        }, err => {
          console.log(err);
          if(err.message != undefined){
            err = err.message;
          }
          this.$notify('primary', 'Frgot password Error', err, { duration: 6000, permanent: false })
          this.form = 1
        })
      }catch(error){
        this.$notify('primary', 'Frgot password Error', error, { duration: 6000, permanent: false })
        console.log(error)
        this.form = 1
      }
    }
  }
}
</script>
<style>
.login-text {
    display: block !important;
}

.login-text:after {
    clear: both;
    content: "";
    display: block;
}

.login-text > button.btn {
    float: right;
}

.login-text > a {
    margin-top: 12px;
    display: inline-block;
}
</style>
