<template>
  <b-row class="h-100">
    <b-colxx xxs="12" md=10  class="mx-auto my-auto">
      <b-card class="auth-card" no-body>
          <div class="position-relative image-side ">
            <p class=" text-white h2">{{ $t('dashboards.magic-is-in-the-details') }}</p>
              <p class="white mb-0">Voicelink users need to be logged-in.<br>Join today at no cost</p>
          </div>
          <div v-if="processing">
            <div class="loading"></div>
          </div>
          <div class="form-side" v-else>
            <h1><router-link tag="a" to="/"><img src="../../assets/img/Voice_link_Company_Blue_trimmed.png" width="150px" alt="VOICELINK"/></router-link></h1>
            <br/>
            <br/>
            <h6 class="mb-4">{{ $t('user.login-title')}}</h6>
            <b-form @submit.prevent="formSubmit">
              <label class="form-group has-float-label mb-4">
                <input type="text" v-model="email" v-validate="'required'" name="email" class="form-control" :class="{ 'is-invalid': submitted && errors.has('email') }" />
                <div v-if="submitted && errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</div>
                <span>{{ $t('user.email') }}</span>
              </label>
              <label class="form-group has-float-label mb-4">
                <input type="password" v-model="password" v-validate="{ required: true}" name="password" class="form-control" :class="{ 'is-invalid': submitted && errors.has('password') }" />
                <div v-if="submitted && errors.has('password')" class="invalid-feedback">{{ errors.first('password') }}</div>
                <span>{{ $t('user.password') }}</span>
              </label>
              <div class="d-flex justify-content-between align-items-center">
                  <router-link tag="a" to="/user/forgot-password">{{ $t('user.forgot-password-question')}}</router-link>
                  <b-button type="submit" variant="primary" size="lg" class="btn-shadow" :disabled="processing">{{ $t('user.login-button')}}</b-button>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <router-link tag="a" to="/user/register">{{ $t('user.join')}}</router-link>
              </div>
            </b-form>
          </div>
      </b-card>
    </b-colxx>
  </b-row>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data () {
    return {
      email: '',
      password: '',
      isLoad: true,
      submitted:false
    }
  },
  computed: {
    ...mapGetters(['currentUser', 'processing', 'loginError'])
  },
  methods: {
    ...mapActions(['login']),
    formSubmit () {
      this.submitted = true;
      this.$validator.validate().then(valid => {
          if (valid) {
            this.login({ email: this.email, password: this.password })
          }
      })
    }
  },
  watch: {
    currentUser (val) {
      if (val && val.uid && val.uid.length > 0) {
        setTimeout(() => {
          // console.log(this.$route)
          if(this.$route.query.redirect_uri){
            window.location.href = this.$route.query.redirect_uri;
          }else{
             this.$router.push('/')
          }
           
        }, 500)
      }
    },
    loginError (val) {
      if (val != null) {
        this.$notify('primary', 'Login Error', val, { duration: 8000, permanent: false })
      }
    }
  }
}
</script>
