<template>
  <b-row class="h-100">
    <b-colxx xxs="12" md=10  class="mx-auto my-auto">
      <b-card class="auth-card" no-body>
          <div class="position-relative image-side ">
            <p class=" text-white h2">{{ $t('dashboards.magic-is-in-the-details') }}</p>
              <p class="white mb-0">  Please use this form to Join. Its free! 
              </p>
          </div>
          <div v-if="processing">
            <div class="loading"></div>
          </div>
          <div class="form-side" v-else>
            <h1><router-link tag="a" to="/"><img src="../../assets/img/Voice_link_Company_Blue_trimmed.png" width="150px" alt="VOICELINK"/></router-link></h1>
            <br/>
            <br/>
            <h6 class="mb-4">{{ $t('user.register')}}</h6>
            <b-form @submit.prevent="formSubmit">
               <label class="form-group has-float-label mb-4">
               <input type="text" v-model="user.firstName" v-validate="'required'" name="firstName" class="form-control" :class="{ 'is-invalid': submitted && errors.has('firstName') }" />
                <div v-if="submitted && errors.has('firstName')" class="invalid-feedback">{{ errors.first('firstName') }}</div>
                <span>{{ $t('user.firstname') }}</span>
              </label>
              <label class="form-group has-float-label mb-4">
               <input type="text" v-model="user.lastName" v-validate="'required'" label="Last Name" name="lastName" class="form-control" :class="{ 'is-invalid': submitted && errors.has('lastName') }" />
                <div v-if="submitted && errors.has('lastName')" 
                class="invalid-feedback">{{ errors.first('lastName') }}</div>
                <span>{{ $t('user.lastname') }}</span>
              </label>
              <label class="form-group has-float-label mb-4">
                <input type="text" v-model="user.email" v-validate="'required'" name="email" class="form-control" :class="{ 'is-invalid': submitted && errors.has('email') }" />
                <div v-if="submitted && errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</div>
                <span>{{ $t('user.email') }}</span>
              </label>
              <label class="form-group has-float-label mb-4">
                <input type="password" v-model="user.password" v-validate="{ required: true, min: 6 }" name="password" class="form-control" :class="{ 'is-invalid': submitted && errors.has('password') }" />
                <div v-if="submitted && errors.has('password')" class="invalid-feedback">{{ errors.first('password') }}</div>
                <span>{{ $t('user.password') }}</span>
              </label>
               <label class="form-group has-float-label mb-4">
                 <input type="password"  v-validate="{ required: true, min: 6, confirmed:user.password }" name="confirmpassword" class="form-control" :class="{ 'is-invalid': submitted && errors.has('confirmpassword') }" data-vv-as="password" />
                <div v-if="submitted && errors.has('confirmpassword')" class="invalid-feedback">{{ errors.first('confirmpassword') }}</div>
                <span>{{ $t('user.confirmpassword') }}</span>
              </label>              
              <div class="d-flex  align-items-center">
              <b-button type="submit" variant="primary" size="lg" class="btn-shadow btn-register">{{ $t('user.register-button')}}</b-button>
              </div><br>
              <div class="d-flex align-items-center">
                Already a member?&nbsp;&nbsp; <router-link tag="a" to="/user/login"> {{ $t('user.login-title')}} here &nbsp; </router-link>
              </div>
              
          </b-form>
        </div>
      </b-card>
    </b-colxx>
  </b-row>
</template>
<script>
import { mapGetters, mapActions  } from 'vuex'
import { constants } from 'crypto';

export default {
  data () {
    return {
      user: {
        id: '',
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        role: ''
      },
      submitted: false
    }
  },
  computed: {
    ...mapGetters(['registerError', 'processing', 'registerSuccess'])
  },
  methods: {
    ...mapActions(['register']),
     
    formSubmit () {
      let d = new Date();
      let id = d.valueOf();
      id = 'u'+id;
      this.user.id = id;
      this.user.role = 'user';
      this.submitted = true;
      this.$validator.validate().then(valid => {
        if (valid) {
          // console.log(this.user);
            this.register(this.user);  
        }
      });
    }
  },
  watch: {
    registerError (val) {
      this.user.password = '';
      console.log('watch',val);
      if (val != null) {
        console.log('asdfsd')
        this.$notify('primary', 'Registration Error', val, { duration: 8000, permanent: false })
      }
    },
    registerSuccess (val){
      this.user.id = ''
      this.user.firstName = ''
      this.user.lastName = ''
      this.user.email = ''
      this.user.password = ''
      if (val != null) {
        this.$notify('primary', 'Registration successful', val, { duration: 8000, permanent: false })
        this.$router.push('/user/login')
      }
    }
  },
  mounted () {
    
    const dict = {
      custom: {
        firstName: {
          required: 'The First Name is required.'
        },
        lastName: {
          required: 'The Last Name is required.'
        },
        email: {
          required: 'The Email is required.'
        },
        password: {
          required: 'The Password is required.',
          min: 'The Password must be at least 6 characters.'
        },
        confirmpassword: {
          required: 'The Confirm Password is required.',
          min: 'The Confirm Password must be at least 6 characters.',
          confirmed: 'The Password and Confirm Password does not match.'
        }
      }
    }
    this.$validator.localize('en', dict)
  }
}
</script>
